<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
</head>
<body>
    <h2><%=category.charAt(0).toUpperCase()+category.slice(1)%> Products</h2>
    <ul>
        <%for(let product of products){%>
            <a href="/products/<%=product.id%>">
                <li><%= product.name%></li>  
            </a>  
        <%}%>
    </ul>
    <a href="/products/new">+ Add Products</a>
    <br>
      
    <%if(category!=="All"){ %>
        <a href="/products">All Products</a>  // onlys show ALL if showing list by categories
    <%}%>

</body>
</html>

